<%- include('./partials/header.ejs') %>
<%- include('./partials/homenavbar.ejs') %>

<body>
    <div class="container-lg">
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo!</h1>
            <p class="lead">Este é um sistema de controle de férias.</p>
        </div>
        
        <hr>
        <!--TODO: alterar tabelas para grip com Boostrap-->
        <table class="table table-sm table-striped table-borderless text-center">
            <button style="position: relative;" class="btn btn-secondary">Baixar relatorio</button>
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Nome</th>
                    <th>Centro de custo</th>
                    <th>Cargo</th>
                    <th>Inicio periodo</th>
                    <th>Fim periodo</th>
                    <th>1 ferias</th>
                    <th>dias 1 ferias</th>
                    <th>2 ferias</th>
                    <th>dias 2 ferias</th>
                    <th>3 ferias</th>
                    <th>dias 3 ferias</th>
                </tr>
            </thead>
            <tbody>
                <% ferias.forEach(ferias => {  %>
                    <tr>
                        <td><%= ferias.matricula %></td>
                        <td class="text-left"><%= ferias.nome %></td>
                        <td class="text-left"><%= ferias.nomecc %></td>
                        <td class="text-left"><%= ferias.nomecargo %></td>
                        <td><%= moment(ferias.inicioper).format('DD/MM/YYYY'); %></td>
                        <td><%= moment(ferias.fimper).format('DD/MM/YYYY'); %></td>
                        <td><%= moment(ferias.ini1fer).format('DD/MM/YYYY'); %></td>
                        <td><%= ferias.dias1fer %></td>
                        <td><%= moment(ferias.ini2fer).format('DD/MM/YYYY'); %></td>
                        <td><%= ferias.dias2fer %></td>
                        <td><%= moment(ferias.ini3fer).format('DD/MM/YYYY'); %></td>
                        <td><%= ferias.dias3fer %></td>
                        <td>
                            <a href="/ferias/edit/<%= ferias.id %>" class="btn btn-warning">Solicitar ferias</a>
                        </td>
                        
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        
</body>
<script>
const formateDate = (date) => {
    date = `${date.getDate()}`
    return date;
}
</script>

<%- include('./partials/footer.ejs') %>