<%- include('./partials/header.ejs') %>
<%- include('./partials/homenavbar.ejs') %>

<body>
    <div class="container-lg">
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo!</h1>
            <p class="lead">Este é um sistema de controle de férias.</p>
        </div>
        <button style="position: absolute; right: 10px;" class="btn btn-secondary">Baixar relatorio</button>
        <hr>
        <!--TODO: alterar tabelas para grip com Boostrap-->
        <table class="table table-sm table-striped table-borderless table-hover text-center">
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Nome</th>
                    <th>Centro de custo</th>
                    <th>Cargo</th>
                    <th>Inicio periodo</th>
                    <th>Fim periodo</th>
                    <th  colspan="2">1 ferias</th>
                    <th>2 ferias</th>
                    <th>dias 2 ferias</th>
                    <th>3 ferias</th>
                    <th>dias 3 ferias</th>
                    
                </tr>
            </thead>
            <tbody>
                <% ferias.forEach(ferias => {  %>
                    <tr>
                        <td><%= ferias.matricula %></td>
                        <td class="text-left"><%= ferias.nome %></td>
                        <td class="text-left"><%= ferias.nomecc %></td>
                        <td class="text-left"><%= ferias.nomecargo %></td>
                        <td><%= ferias.inicioper.getDate() + "/" + ferias.inicioper.getMonth() + "/"+ ferias.inicioper.getFullYear() %></td>
                        <td><%= ferias.fimper.getDate() + "/" + ferias.fimper.getMonth() + "/"+ ferias.fimper.getFullYear() %></td>
                        <td><%= ferias.ini1fer.getDate() + "/" + ferias.ini1fer.getMonth() + "/"+ ferias.ini1fer.getFullYear() %></td>
                        <td><%= ferias.dias1fer %></td>
                        <td><%= ferias.ini2fer.getDate() + "/" + ferias.ini2fer.getMonth() + "/"+ ferias.ini2fer.getFullYear() %></td>
                        <td><%= ferias.dias2fer %></td>
                        <td><%= ferias.ini3fer.getDate() + "/" + ferias.ini3fer.getMonth() + "/"+ ferias.ini3fer.getFullYear() %></td>
                        <td><%= ferias.dias3fer %></td>
                        <td>
                            <a href="" class="btn btn-warning">Solicitar ferias</a>
                        </td>
                        
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        
</body>

<%- include('./partials/footer.ejs') %>