<%- include('./partials/header.ejs') %>
<%- include('./partials/homenavbar.ejs') %>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo!</h1>
            <p class="lead">Este é um sistema de controle de férias.</p>
        </div>
        <hr>
        <!--TODO: alterar tabelas para grip com Boostrap-->
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Nome</th>
                    <th>Centro de custo</th>
                    <th>Cargo</th>
                    <th>Inicio periodo</th>
                    <th>Fim periodo</th>
                </tr>
            </thead>
            <tbody>
                <% ferias.forEach(ferias => {  %>
                    <tr>
                        <td><%= ferias.matricula %></td>
                        <td><%= ferias.nome %></td>
                        <td><%= ferias.nomecc %></td>
                        <td><%= ferias.nomecargo %></td>
                        <td><%= ferias.inicioper.getDate() + "/" + ferias.inicioper.getMonth() + "/"+ ferias.inicioper.getFullYear() %></td>
                        <td><%= ferias.fimper.getDate() + "/" + ferias.fimper.getMonth() + "/"+ ferias.fimper.getFullYear() %></td>
                        <td>
                        <a href="" class="btn btn-warning">Solicitar ferias</a>
                        </td>
                    </tr>                                             
                    <% }) %>
            </tbody>
        </table>
</body>

<%- include('./partials/footer.ejs') %>