<%- include('../../partials/header.ejs') %>
<%- include('../../partials/homenavbar.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Solicitar férias</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/articles/update">
                <div class="container">
                    <p name="matricula"><%= ferias.matricula %></p>
                    <p name="matricula"><%= ferias.nome %></p>
                    <input class="form-control" type="date" name="title" id="title" value="<%= ferias.inicioper.getDate() %>">
                </div>
                <br><hr>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>