<%- include('../../partials/header.ejs') %>
<%- include('../../partials/homenavbar.ejs') %>

<div class="container-fluid">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Solicitar férias</h2>
        </div>
        <input type="hidden" name="id" value="<%= ferias.id %>">
                    <p name="matricula"> Matricula: <%= ferias.matricula %></p>
                    <p name="nome">Nome: <%= ferias.nome %></p>
                    <p>Inicio periodo aquisitivo: <%= moment(ferias.inicioper).format('DD/MM/YYYY'); %></p>
                    <p>Fim periodo aquisitivo: <%= moment(ferias.fimper).format('DD/MM/YYYY'); %></p>
        <div class="card-body">
            <form method="post" action="/ferias/update">
                <div class="row">
                    <p>1º periodo de férias marcado para <%= moment(ferias.ini1fer).format('DD/MM/YYYY'); %> por <%= ferias.dias1fer %> dias, marcar para</p>
                    <div class="col">
                        <input type="date" class="form-control">
                    </div>
                    <p>por</p>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="dias">
                    </div>
                </div>
                <div class="row">
                    <p>1º periodo de férias marcado para <%= moment(ferias.ini1fer).format('DD/MM/YYYY'); %> por <%= ferias.dias1fer %> dias, marcar para</p>
                    <div class="col">
                        <input type="date" class="form-control">
                    </div>
                    <p>por</p>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="dias">
                    </div>
                </div>
                <div class="row">
                    <p>1º periodo de férias marcado para <%= moment(ferias.ini1fer).format('DD/MM/YYYY'); %> por <%= ferias.dias1fer %> dias, marcar para</p>
                    <div class="col">
                        <input type="date" class="form-control">
                    </div>
                    <p>por</p>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="dias">
                    </div>
                </div>
                <button class="btn btn-success">Solicitar</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>