<%- include('../../partials/header.ejs') %>
<%- include('../../partials/homenavbar.ejs') %>

<div class="container-fluid">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Solicitar férias</h2>
        </div>
        <p name="matricula"> Matricula: <%= ferias.matricula %></p>
        <p name="nome">Nome: <%= ferias.nome %></p>
        <p>Inicio periodo aquisitivo: <%= moment(ferias.inicioper).format('DD/MM/YYYY'); %></p>
        <p>Fim periodo aquisitivo: <%= moment(ferias.fimper).format('DD/MM/YYYY'); %></p>
        <div class="card-body">
            <form method="post" action="/ferias/update" name="formulario">
                <input type="hidden" name="id" value="<%= ferias.id %>">
                <div class="row">
                        <% if (ferias.ini1fer != null) {%>
                            <p>1º periodo de férias marcado para <%= moment(ferias.ini1fer).format('DD/MM/YYYY'); %> por <%= ferias.dias1fer %> dias, marcar para</p>
                        <% } else { %>
                            <p>1º periodo de ferias nao marcado, marcar para: </p>
                        <% } %>
                    <div class="col">
                        <input name="ini1fer" type="date" class="form-control">
                    </div>
                    <p>por</p>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="dias" name="dias1fer">
                    </div>
                </div>

                <div class="row">
                    <% if (ferias.ini2fer != null) {%>
                        <p>2º periodo de férias marcado para <%= moment(ferias.ini2fer).format('DD/MM/YYYY'); %> por <%= ferias.dias2fer %> dias, marcar para</p>
                    <% } else { %>
                        <p>2º periodo de ferias nao marcado, marcar para: </p>
                    <% } %>
                    <div class="col">
                        <input name="ini2fer" type="date" class="form-control">
                    </div>
                    <p>por</p>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="dias" name="dias2fer">
                    </div>
                </div>

            <div class="row">
                    <% if (ferias.ini3fer != null) {%>
                        <p>3º periodo de férias marcado para <%= moment(ferias.ini3fer).format('DD/MM/YYYY'); %> por <%= ferias.dias3fer %> dias, marcar para</p>
                    <% } else { %>
                        <p>3º periodo de ferias nao marcado, marcar para: </p>
                    <% } %>
                <div class="col">
                    <input name="ini3fer" type="date" class="form-control">
                </div>
                <p>por</p>
                <div class="col">
                    <input type="number" class="form-control" placeholder="dias" name="dias3fer">
                </div>
            </div>
                <button class="btn btn-success" onclick="validar()">Solicitar</button>
            </form>
        </div>
    </div>
</div>
<%- include('../../partials/footer.ejs') %>
<script>
    function validar(){
        try{
        var Pferias = formulario.ini1fer.value;
        var DPferias = parseInt(formulario.dias1fer.value);
        var Sferias = formulario.ini2fer.value;
        var DSferias = parseInt(formulario.dias2fer.value);
        var Tferias = formulario.ini3fer.value;
        var DTferias = parseInt(formulario.dias3fer.value);
        //PEGANDO DATA ATUAL SEPARADAMENTE
        const timeElapsed = Date.now();
        const today = new Date(timeElapsed);
        let day = today.getDate(); let month = today.getMonth(); let year = today.getFullYear();

        let arrPformat = Pferias.split('-');
        let arrSformat = Sferias.split('-');
        let arrDformat = Tferias.split('-');
        var tot = 0;

        let Pformat = new Date(arrPformat[0], arrPformat[1]-1, arrPformat[2]);
        let Sformat = new Date(arrPformat[0], arrPformat[1]-1, arrPformat[2]);
        let Tformat = new Date(arrPformat[0], arrPformat[1]-1, arrPformat[2]);

        var dataAtualFormatada = new Date(year, month, day);
        dataLimite = new Date(dataAtualFormatada.setDate(dataAtualFormatada.getDate() + 20));

        var isNear = function(ferias, limite) {
            if(ferias > limite){
                return false;
            }else{
                return true;
            }
        }

        try{
        if(isNear(Pformat, dataLimite)){
            alert('1º periodo de ferias muito proximo, mandar e-mail!')
            event.preventDefault();
        }else if(isNear(Sformat, dataLimite)){
            alert('2º periodo de ferias muito proximo, mandar e-mail!')
            event.preventDefault();
        }else if (isNear(Tformat, dataLimite)){
            alert('3º periodo de ferias muito proximo, mandar e-mail!')
            event.preventDefault();
        }}catch (e){
            alert(e.message);
        }

        //VERIFICA SE NÃO É NaN E SOMA NA VARIAVEL TOT
        if(!isNaN(DPferias)){
            tot += DPferias;
            if(!isNaN(DSferias)){
                tot += DSferias;
                if(!isNaN(DTferias)){
                    tot += DTferias;
                }
            }
        }

        //VERIFICA SE O TOTAL DE DIAS DE FERIAS NÃO É MAIOR QUE 30
        if(tot > 30){
            alert('Total de dias maior que 30')
            event.preventDefault();
        }}catch(e) {
            alert(e.message);
        }
    }
</script>