<%- include('../../partials/header.ejs') %>
<%- include('../../partials/homenavbar.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Solicitar férias</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/articles/update">
                <div class="container">
                    <p name="matricula"> Matricula <%= ferias.matricula %></p>
                    <p name="nome">Nome <%= ferias.nome %></p>
                    <p>Inicio periodo aquisitivo <%= ferias.inicioper.getDate()+ %></p>
                    <p>fim periodo aquisitivo <%= ferias.ini3fer.getDate() + "/" + ferias.ini3fer.getMonth() + "/"+ ferias.ini3fer.getFullYear() %></p>
                </div>
                <br><hr>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>